@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.borda {
  background-color: #dc2f02;
  border-radius: 16px;
  color: white;
  border: none;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  width: 100%;
  margin-right: 5px;
}

.borda::placeholder {
  color: rgb(213, 213, 213);
}

.Chat svg {
  width: 50px;
  margin: 0;
  border: 1px solid #9c7200;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 0px 1px 1px black;
  margin-right: 10px;
}

.Chat {
  display: flex;
  align-items: center;
  position: fixed;
  border-radius: 10px 10px 0px 0px;
  background-color: #dca202;
  bottom: 0;
  right: 0;
  padding: 5px;
  width: 380px;
}
.Chat > button {
  border-radius: 10px;
}
